# Local Terraform CLI files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log
*.tfstate.*

# Terraform variables and overrides
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terragrunt cache files
.terragrunt-cache/

# Personal settings
terraform.tfvars.local
terraform.tfvars.dev
*.local.tfvars

# Ignore any sensitive or temporary files
secrets.auto.tfvars
*.auto.tfvars
secret.tfvars
*.auto.tfvars.json

# Ignore editor or IDE specific files
.idea/
.vscode/
*.swp
*.swo

# MacOS files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swp~
*.un~
*.out
*.tfplan

# Ignore lock files created by package managers
# If you use a package manager like npm/yarn or pip for any scripts/tools
node_modules/
package-lock.json
yarn.lock
pipenv.lock
poetry.lock

# Ignore output files
output.tfplan
.planfile

# Ignore terraform-provider hashicorp plugin cache (optional)
# Terraform caches provider plugins, and you might want to exclude it from version control
.terraform.d/

# Ignore Python virtual environment if using Python scripts
venv/
